.support{
    margin: 10px 20px;
    position: fixed;
    bottom: 5px;
}
.support-btn {
    background-color: #009c3b !important;
    border: none;
    padding: 10px 30px;
    border-radius: 999rem;
    /* bottom: 0; */
    letter-spacing: 1.1px;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    display: flex;
    align-items: center;
}
.support svg {
    fill: #ffffff;
    margin-right: 10px;
    margin-top: 5px;
}
.book-demo-bubble {
    right: 23px;
    bottom: 15px;
    width: 120px;
    height: 120px;
    z-index: 99999;
    position: fixed;
    text-align: center;
    background: #009c3b;
    border-radius: 54% 54% 0;
}
.book-demo-bubble img {
    width: 30px;
margin-top: 12px;}

.book-demo-bubble a span {
    color: #ffffff;
    display: inline-flex;
    margin-top: 10px;
margin-left: 10px;}